{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
  <table id="data" class="table table-striped table-hover">
    <thead>
      <tr>
        {% for item in table_config -%}
        <th>{{ item.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      ajax: '/api/data',
      columns: [
        {% for item in table_config %}
        { data: '{{ item.name | safe}}', orderable: {{ item.orderable }}, searchable: {{ item.searchable }} }
    {{- ", " if not loop.last else "" -}}
  {% endfor %}
      ],
    });
  });
</script>
{% endblock %}