<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corona Antigen Test Comparison</title>

  <meta name="description"
    content="Which Corona Antigen Tests can be trusted? Find out by comparing them based on scientific data." />
  <!-- Open Graph tags -->
  <meta property="og:site_name" content="Corona Antigen Test Comparison" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Corona Antigen Test Comparison" />
  <meta property="og:url" content="." />
  <meta property="og:description"
    content="Which Corona Antigen Tests can be trusted? Find out by comparing them based on scientific data." />

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/datatables.min.css" />
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/datatables.min.js"></script>
</head>

<body>

  <div class="container">

    {% include "nav.html" %}

    {% block title %}{% endblock %}

    {% block content %}{% endblock %}
  </div>

  {% include "footer.html" %}

  {% block scripts %}{% endblock %}
</body>

</html>