<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
    {% block content %}{% endblock %}
  </div>

  <div class="container">
    <p>
      <br><br>
      The German "Paul Ehrlich Institut" (German Federal Institue for Vaccines and Biomedicines) tests the sensitivity
      of Corona Antigen tests and published them.
      Unfortunately, the data is only available as .pdf which is inconvenient for a quick lookup or comparison.
      This website takes the same data and makes it available in a way more convenient way.
      You can quickly search by Manufacturer or Test Name and also sort by specific columns.
      The original data is taken from
      <a
        href="https://www.pei.de/SharedDocs/Downloads/DE/newsroom/dossiers/evaluierung-sensitivitaet-sars-cov-2-antigentests.pdf">
        here
      </a>.
    </p>
  </div>

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>