<footer>
    <br>
    <br>
    <center>
        <p style="text-align:center;font-size: small">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                    style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work
            is
            licensed
            under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
                International License</a>.
            <br>
            <a href="https://www.flaticon.com/free-icons/covid" title="covid icons">Covid icons created by ariefstudio -
                Flaticon</a>
        </p>
        <br>
        <p style="color:grey; font-size: small">Site version: {{ version }}</p>
    </center>
</footer>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>